.App {
	text-align: center;
}

.error-text {
	color: red;
	font-size: 1.2rem;
	font-weight: bolder;
	height: 1.5rem;
	margin: 0.5rem 0;
}

.Ticket {
  font-family: sans-serif;
  text-align: center;
}
